
@{
    ViewBag.Title = "ResetPassword";
    var message = ViewBag.ErrorMessage;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin Panel - Reset Password";
}

<form method="post" action="@Url.Action("updatepassword","admin")" style="margin:75px">
    <div>
        <h6>
            Update Password
        </h6>
        <div>
            <span>UserName :</span> <input name="UserName" type="text" placeholder="Enter UserName" />
        </div>
        <div>
            <span>Password :</span> <input name="Password" type="password" placeholder="Enter password" />
        </div>
    </div>
    <div><input type="submit" id="btnsubmit" value="Update" /></div>
    @if (!string.IsNullOrEmpty(message))
    {
        <span style="color:red">@message</span>
    }
</form>
